.background{


background-image: url(https://pyxis.nymag.com/v1/imgs/9bc/423/ee82f6b398a0b4b3536425412e6dd0b269-21-bojack-11.2x.rsocial.w600.jpg);






height: 100vh;





background-size: cover;

}

